<!DOCTYPE html>
<html lang="it">
    <button id="load_data" style="margin-right: 10px;" style="margin-bottom: 10px;">Carica dati</button>
    
    <button id="submit" type="submit" style="margin-bottom: 10px;">Esegui query</button>
    <input id="query" type="text" name="query" placeholder="query" required style="width: 300px;" style="margin-bottom: 10px;">
    
    <table id="table" border="1">
    </table>

    <form id="insert" method="post" action="api/insert.php">
        <input id="nome" type="text" name="nome" placeholder="nome" required>
        <input id="cognome" type="text" name="cognome" placeholder="cognome" required>
        <input id="email" type="text" name="email" placeholder="email" required>
        <button type="submit">Invia</button>
    </form>

    <script src="./js/fetchData.js"></script>
    
    <script type="module"> //query
        import { doQuery } from './js/export/query.js';

        const queryText = document.getElementById("query");
        const queryButton = document.getElementById("submit");

        queryButton.addEventListener("click", async function(event) 
        {
            event.preventDefault();
            
            let query = queryText.value;
            if (_query.startsWith("select")) 
                _query = query;
            else
                doQuery(_query);

            console.log("click");
            console.log(_query);
        });
    </script>

    <script type="module"> //load data
        const loadb = document.getElementById("submit");
        loadb.addEventListener("click", async function(event) 
        {
            event.preventDefault();
            
            _query = "select * from users";
        });
    </script>
    
    <script type="module"> //insert
        import { doQuery } from './js/export/query.js';

        const nomeText = document.getElementById("query");
        const cognomeText = document.getElementById("query");
        const emailText = document.getElementById("query");

        const form = document.getElementById("insert");
        form.addEventListener("submit", async function(event) 
        {
            event.preventDefault();

            let nome = nomeText.value;
            let cognome = cognomeText.value;
            let email = emailText.value;

            doQuery(`insert into users values ('${nome}', '${cognome}', '${email}')`);
        });
    </script>

</html>